/* Base Tags */
body { background-color: #4f3f4f; }
p { font-family: Arial; color: whitesmoke; font-size: 24px;}
h1 { font-family: Arial; color: whitesmoke; font-size: 44px;}
li { font-family: Arial; color: whitesmoke; font-size: 20px}
a { color: green; }
/* Custom Tags */
#center { text-align: center; }
#logo { border-style: solid; width: 562px; border-width: 16px; border-color: black; border-radius: 32px; }
#important-link { font-family: Arial; color: greenyellow; font-size: 46px;}